# Script Contents
### -Import Libraries

### -Import Data Part 1

### -Check Data Shape

### -Import Data Part 2

### -Combine Data

### -Confirm and Investigate Combined Data

### -Export Combined Data

# Import Libraries

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Import Data

In [4]:
# Create a path for my pain project folder
path = r"C:\Users\jacks\Instacart Basket Analysis 081424"

In [6]:
# Import the prior order data from Original Data and the latest order data from Original Data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

# Consistency Check

In [8]:
# Find missing observations in the orders data and add up the number of missing observations
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [10]:
# Find full duplicates in df_ords_clean by creating a subset
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [12]:
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [10]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
df_ords_prior.shape

(32434489, 4)

In [14]:
df_ords.shape

(3421083, 8)

# Merge Data

In [16]:
# Merge df_ords_prior and df_ords
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
# Check the output
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [22]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Export Data

In [26]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))